@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #322431;
  width: 100%;
  height: 100vh;
}

h1,
h2 {
  font-family: 'Pacifico';
  font-weight: 400;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

h2 {
  font-size: 25px;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.container {
  width: 95%;
  margin: auto;
}

.logo {
  margin: auto;
  width: 40%;
  padding-top: 0;
}


/* Navbar */
.navbar {
  width: 100%;
  z-index: 1;
  background-color: #eee7e852;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin-left: 0.5rem;
  list-style: none;
  display: flex;
}

.nav-list li {
  margin: 0.8rem;
  font-size: 1rem;
}

.logo-small {
  display: none;
}

.nav-list a,
.footer-content a {
  text-decoration: none;
  font-weight: bold;
  color: #322431;
}

.nav-list a:hover,
.footer-content a:hover {
  color: #26aa94;
}

.active a {
  color: #26aa94;
}


/* Footer */
.footer {
  position: relative;
  width: 100%;
  background-color: #eee7e852;
  z-index: 1;
}

.footer-content {
  position: relative;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content a {
  margin: 0.5rem 1.5rem;
  font-size: 2rem;
}

.footer-content p {
  display: none;
}


/* Home */
.home-background::before {
  content: '';
  background-image: url('./images/cupcakes.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.home-background {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-top {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
}

.home-content {
  position: relative;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #eee7e872;
}

.home-content .logo {
  width: 40%;
  margin: auto;
  margin-top: 1rem;
}

.logo img {
  width: 100%;
  border: 2px solid #26aa94;
  border-radius: 50%;
}

.home-content p {
  margin-bottom: 1rem;
  font-weight: bold;
}


/* About */
.about-background::before {
  content: '';
  background-image: url('./images/cakes.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}

.about-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-top {
  z-index: 1;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
}

.about-content {
  margin: auto;
  background-color: #eee7e852;
  padding: 2rem;
}

.about-content p {
  font-weight: bold;
  margin-bottom: 1rem;
}


/* Product */
.product-background {
  background: #eddee0;
  background: linear-gradient(90deg, 
    #eddee0e8 0%, 
    #f6f0d5e8 50%, 
    #e1fcdae8 100%);
  position: relative;
}

.product-list {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.product {
  cursor: pointer;
  background-color: #eee7e8;
  border-radius: 8%;
  box-shadow: 3px 3px 7px 1px #9c989884;
  transform: scale(1);
  transition: ease-in-out 0.5s;
}

.product:hover {
  box-shadow: 1px 1px 5px 1px #9c989884;
  opacity: 0.8;
  transform: scale(0.95);
  transition: ease-in-out 0.5s;
}

.product img {
  width: 100%;
  border-radius: 8% 8% 0 0;
}

.product-desc {
  padding: 0.5rem;
  margin: auto;
  text-align: center;
}

.product-desc h3 {
  font-size: 1rem;
}



/* Contact */
.contact-background::before {
  content: '';
  background-image: url('./images/cakes2.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}

.contact-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-top {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-top p {
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-content {
  margin: auto;
  background-color: #eee7e852;
  padding: 1rem;
}

.contact-text {
  display: block;
}

.contact-text h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.hours {
  text-align: center;
  margin-top: 2rem;
}

.hours p {
  margin-bottom: 0.5rem;
}


@media only screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
    margin: 1rem 0;
  }

  h2 {
    font-size: 30px;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .container {
    width: 90%;
  }


  /* Navbar */
  .nav-list {
    margin-left: 1rem;
  }

  .nav-list li {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .logo-small {
    display: block;
    width: 3.2rem;
    margin: 0.5rem 3rem;
  }

  .logo-small img {
    width: 100%;
    border: 1px solid #26aa94;
    border-radius: 50%;
  }


  /* Footer */
  .footer-content {
    margin: 0.5rem 0;
  }

  .footer-content a {
    font-size: 1.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
  }

  .footer-content p {
    font-size: 1rem;
    display: inline;
    margin-left: 0.5rem;
  }


  /* Home */
  .home-top {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-content {
    background-color: #eee7e852;
  }

  .home-content p {
    font-size: 1.2rem;
  }

  .home-content p:last-of-type {
    margin-bottom: 3rem;
  }


  /* About */
  .about-content {
   padding: 1rem 3rem; 
  }

  .about-content p {
    font-size: 1.2rem;
  }


  /* Contact */
  .contact-top p {
    font-size: 1.2rem;
  }
}


@media only screen and (min-width: 992px) {
  .logo {
    width: 20%;
  }

  /* Footer */
  .footer-content {
    margin: 0.5rem 2rem;
  }

  .footer-content a {
    font-size: 1.8rem;
  }

  .footer-content p {
    font-size: 1.2rem;
  }


  /* Home */
  .home-content .logo {
    width: 30%;
    margin: auto;
    margin-top: 0;
  }

  .home-content p {
    font-size: 1rem;
  }
  

  /* About */
  .about-content {
    padding: 1rem 3rem; 
   }
 
   .about-content p {
     font-size: 1rem;
   }

  /* Product */
  .product-background {
    background: #eddee0;
    background: linear-gradient(90deg, 
      #eddee0e8 0%, 
      #f1e6dae8 25%, 
      #f6f0d5e8 50%, 
      #ecf9cfe8 75%, 
      #e1fcdae8 100%);
  }
 
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-desc h3 {
    font-size: 1.1rem;
  }

  /* Contact */
  .contact-content {
    padding: 2rem 5rem;
  }

  .contact-text {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
  }

  .contact-text h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .contact-text p {
    font-size: 1rem;
  }

  .hours {
    margin-top: 0;
  }
}


@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .container {
    width: 80%;
  }

  .logo {
    width: 20%;
    padding-top: 1rem;
  }


  /* Footer */
  .footer-content {
    margin: 0.5rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  /* Home */
  .home-content .logo {
    width: 40%;
    margin: auto;
    margin-top: 0.5rem;
  }

  .home-content {
    background-color: #eee7e852;
  }


  /* About */
  .about-content {
    padding: 2rem 5rem;
  }


  /* Product */
  .product-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-desc {
    padding: 1rem;
    margin-top: 0.5rem;
  }

}
